/******************************* TAG SELECTOR *******************************/
body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1{
  font-size: 5.625rem;
  color: #295939;
  margin: 50px auto 0;
  font-family: 'Sacramento', cursive;
}

h2{
  color: #295939;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  margin-top: 4rem;
}

h3{
  color:  #2C061F;
  font-family: 'Montserrat', sans-serif;
  margin-top: 1.5rem;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-color: #184D47;
  border-width: 7px;
  width: 5%;
  size: 200px;
}


/******************************* CLASS SELECTOR *******************************/

.btn{
  color: #2C061F;
}

.BUTTON_MNM {
  margin-top: 50px;


   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   height: 0;
   line-height: 0;
   color: #FFFFFF;
   font-family: Arial;
   width: 140px;
   font-size: 19px;
   font-weight: 200;
   padding: 27px;
   background-color: #12263C;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_MNM:hover {
   border: solid #1C5CB9 1px;
   background: #232F3E;
   background-image: -webkit-linear-gradient(top, #232F3E, #081934);
   background-image: -moz-linear-gradient(top, #232F3E, #081934);
   background-image: -ms-linear-gradient(top, #232F3E, #081934);
   background-image: -o-linear-gradient(top, #232F3E, #081934);
   background-image: -webkit-gradient(to bottom, #232F3E, #081934);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}

.laptop-pic{
  height: 200px;
  width: 200px;
  float: left;
  margin-right: 30px;
}


.para2{
  font-weight: normal;
  color: #295939;
  margin: 0 auto;
  font-size: 2.5rem;
}
.profile-pic{
  padding-top: 100px;
  height: 200px;
  width: 200px;
}


.skill-img{
  height: 100px;
  width: 100px;
  float: right;
  margin-left: 30px;
}

.skill-row{
  width: 50%;
  margin: 3.5rem auto;
  text-align: left;
}


.top-cloud{
  position: absolute;
  top: 50px;
  right: 300px;
}

.bottom-cloud{
  position: absolute;
  bottom: 300px;
  left: 300px;
  padding-bottom: 50px;
  border-bottom: 0;
}

.top-container{
  background-color: #1EAE98;
  position: relative;
  padding-top: 100px;

}

.middle-container{

  background-color: #1EAE98;
  margin: 0 auto;
  padding-bottom: 50px;

}

.bottom-container{
  background-color: #00303F;
  padding-top: 35px;
  padding-bottom: 10px;

}

.hvr:hover{
  color: #295939;
}

.tome-1{
position: relative;
right: 20px;
color: #EAF6F6;
text-decoration: none;
}

.tome-2{
color: #EAF6F6;
text-decoration: none;
}

.tome-3{
color: #EAF6F6;
position: relative;
left: 20px;
text-decoration: none;
}


.copyright-img{
  height: 1rem;
  width: 1rem;
  position: relative;
  top: 2px;
}
.st{
  text-decoration:inherit;
  font-family: 'Sacramento', cursive;
  font-size: 5rem;
}
